<link rel="stylesheet" href="/css/forgot-pass.css">
<div>
    <h1>
        <%= locals.title %>
    </h1>

    <form action="/users/passwordForgot" method="post">
        <input type="email" name="email" placeholder="Enter your Email.">
        <input type="submit" value="Submit">
    </form>
    <p>
    <a href="/users/sign-in">Go to Sign In Page</a>

    </p>
</div>