<div>
    <h1>
        <%= locals.title %>
    </h1>

    <form action="/users/passwordForgot" method="post">
        <input type="email" name="email" placeholder="Enter your Email.">
        <input type="submit" value="Submit">
    </form>
    <a href="/users/sign-in">No</a>