<div>
    <h1><%= locals.title %></h1>
    <form action="/users/reset-password" method="post">
        <input type="text" name="token" placeholder="Type Token Value">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Change Password">
    </form>
</div>