<%=title%>
<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter your name" id="">
    <input type="email" name="email" placeholder="Enter your email" id="">
    <input type="password" name="password" placeholder="Enter your password" id="">
    <input type="password" name="confirm_password" placeholder="Enter password again" >
    <input type="submit" value="Sign Up">
</form>

<a href="/users/sign-in">Sign In</a>


<p>
    <a href="/users/forgot-pass">Forgot Password?</a>
</p> 