<%=title%>
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Enter your mail id">
        <input type="password" name="password" placeholder="Enter your password.">
        <input type="submit" value="Log In" id="log-in-button">
    </form>


    <a href="/users/sign-up">Sign Up</a>
    <p>
        <a href="/users/forgot-pass">Forgot Password?</a>
    </p>
    <p>
        <a href="/users/auth/google">Google Sign In/Sign Up</a>
    </p>